<body>
  <nav style="display: flex; justify-content: space-between; align-items: center;">
    <h1>Trolly Care</h1>
    <div style="display: flex; gap: 1rem; align-items: center;">
      <a>Contact Us</a>
      <a>Share</a>
    </div>
  </nav>

  <main>

    {{#each articles }}
    <div class="article">
      <h3><a href="{{link}}">{{title}}</a></h3>
      <p>{{description}}</p>
    </div>
    {{/each}}
  </main>

  TODO
  <footer>
    <p>Thank you for subscribing to our newsletter. For more news and updates, visit our website.</p>
  </footer>
</body>

</html>