/* Base styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
  color: #020617;
  font-family: Helvetica, sans-serif, Arial;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.5;
}

p {
  line-height: 1.8;
}

a {
  color: #3398db;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

table {
  border-collapse: collapse;
}

img {
  border: 0;
  display: block;
  max-width: 100%;
}

.wrapper {
  width: 100%;
  table-layout: fixed;
  background-color: #ffffff;
  padding-bottom: 60px;
}

.main {
  background-color: #ffffff;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  border-spacing: 0;
  font-family: sans-serif;
  color: #020617;
}

.two-columns {
  text-align: center;
  font-size: 0;
}

.two-columns .column {
  width: 100%;
  max-width: 300px;
  display: inline-block;
  vertical-align: top;
}

/* nav */
.nav-container {
  border-bottom: 2px solid #e2e8f0;
  padding-bottom: 12px;
}

.nav {
  width: 100%;
  border-collapse: collapse;
}

.nav-logo {
  text-align: left;
  vertical-align: middle;
}

.nav-title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.nav-subtitle {
  font-weight: normal;
  font-size: 14px;
  color: #64748b;
}

.nav-company-link {
  color: #64748b;
  text-decoration: none;
}

.nav-links {
  text-align: right;
  vertical-align: middle;
}

.nav-link {
  font-size: 14px;
  color: #64748b;
  text-decoration: none;
}

/* .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #e2e8f0;
  padding-bottom: 12px;
}

.nav .company-name,
.nav a {
  font-weight: normal;
  font-size: 14px;
  color: #64748b;
}

.nav .nav-links {
  font-size: 24px;
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

@media screen and (max-width: 475px) {
  .nav .nav-links {
    display: none;
  }
} */



.container {
  padding: 20px 0;
}

.container .intro {
  padding: 12px 0 20px;
}


.container .intro .intro-header {
  color: #64748b;
  font-weight: 600;
  margin-bottom: 24px;
  font-size: 14px;
}

.container .intro .summary {
  font-style: italic;
  font-size: 14px;
  padding-bottom: 20px;
  color: #64748b;
}

/* articles */
.articles .articles-header {
  font-size: 20px;
}

.articles .category {
  padding: 0 0 48px;
}

.articles .category:last-child {
  border-bottom: none;
}

.article {
  padding: 24px 0 32px;
  border-bottom: 1px solid #e2e8f0;
}

.article:last-child {
  border-bottom: none;
}

.article .article-title {
  font-size: 18px;
  color: #3398db;
}

.article .article-description {
  padding-top: 20px;
  font-size: 13px;
}


/* footer */
.footer {
  padding: 0 0 20px;
  font-size: 12px;
  text-align: center;
}

.footer p {
  padding-bottom: 10px;
  color: #64748b;
}